body {
	background-color: #d3d3d3;
}

p {
	font-family: Helvetica, Times, Serif;
	font-size: 12px
}

ul {
	font-family: Helvetica, Times, Serif;
	font-size: 12px
}

h1 {
	color: red;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: red;
	margin:bottom 10px;
